$icomoon-font-family: "Icons" !default;
$icomoon-font-path: "./fonts" !default;

$icon-search: "\e900";
$icon-ticket: "\e912";
$icon-agent: "\e913";
$icon-article: "\e914";
$icon-contact: "\e915";
$icon-filter: "\e916";
$icon-idea: "\e917";
$icon-more: "\e918";
$icon-notifications-path1: "\e919";
$icon-notifications-path2: "\e91a";
$icon-overview: "\e91b";
$icon-settings: "\e91d";
$icon-sort: "\e91e";
$icon-subscription: "\e91f";

